body{margin:0;    
    /* background-color: #f4f4f4; */
}

.container {
    width: 95%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    /* border: 1px solid #ddd; */
}

.content_holder{
    display: inline-block;
    margin-top: 10px;
}

.last_edit{
    font-size: smaller;
}







#side_panel {
    height:70%;
    width: 30%;
    float: left;
    background-color: bisque;
}
#side_panel button{
    display: block;
    width: 90%;
    padding: 10px;
    margin:5px auto;
    cursor:pointer;
    border:none;
    transition: border 0.1s ease;
}
#side_panel button:hover{
    border-left: 10px solid coral;
}
.sub_button{
    background-color: lightsteelblue;
    padding: 2px !important;
    width: 200px !important;
}

#sub_div button:last-child {
    margin-bottom: 25px !important;
}

#content_panel{
    float: right;
    width: 70%;
    background-color: black;
}
.float_clear{clear: both;}



#content_header
{
    text-align: center;
    color:white;
}

#content_body
{
    background-color: lavender;
    padding: 20px;
}


.categorySPAN{
    background-color: cornflowerblue;
    padding: 5px;
}
.sobreaking::after{
    content: " BREAKING";
    color: red;
    font-size: 12px;
}

.articles_settings{
    color: brown;
    cursor: pointer;
    margin-bottom: 5px;
}
.articles_settings span{
    transition: background-color 1s ease;
}
.articles_settings span:hover{
    background-color: cornflowerblue;
}



.title-edit,.content-edit{
    margin: 5px;
    padding: 10px;
    border-radius: 30px;
    color: green;
    font-weight: bold;
    display: block;
}


.content-edit{
    height: 100px;
    width: 200px;
    border-radius: 10px;
}

.breaking-edit-label{
display: block;
}

.edit_category{
    border: none;
    padding: 10px;
}

.save-button{
    padding: 5px;
    border: 3px dotted black;
    width: 100px;
    background-color: cadetblue;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
}

/*  */
.textarea-hidden {
    display: none;
}
/*  */



/* TOGGLE SWITCH AREA */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch input:checked + .slider {
    background-color: #2196F3;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .switch .slider.round {
    border-radius: 34px;
  }
  
  .switch .slider.round:before {
    border-radius: 50%;
  }

  .setting_p{
    text-shadow: 0 0 10px #07c759;
    color: green;
    display: inline-block;
    min-width: 250px;
  }


  .setting_btn{
    padding: 20px;
    border: 1px dotted black;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
  }
  .setting_btn:hover{
    background-color: #ccc;
  }