body{margin:0;    
    /* background-color: #f4f4f4; */
}

.container {
    width: 95%;
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

    /* border: 1px solid #ddd; */
}









#side_panel {
    height:70%;
    width: 30%;
    float: left;
    background-color: bisque;
}
#side_panel button{
    display: block;
    width: 90%;
    padding: 10px;
    margin:5px auto;
    cursor:pointer;
    border:none;
    transition: border 0.1s ease;
}
#side_panel button:hover{
    border-left: 10px solid coral;
}
.sub_button{
    background-color: lightsteelblue;
    padding: 2px !important;
    width: 200px !important;
}

#sub_div button:last-child {
    margin-bottom: 25px !important;
}

#content_panel{
    float: right;
    width: 70%;
    background-color: black;
}
.float_clear{clear: both;}



#content_header
{
    text-align: center;
    color:white;
}

#content_body
{
    background-color: lavender;
    padding: 20px;
}


.categorySPAN{
    background-color: cornflowerblue;
    padding: 5px;
}
.sobreaking::after{
    content: " BREAKING";
    color: red;
    font-size: 12px;
}

.articles_settings{
    color: brown;
    cursor: pointer;
}
.articles_settings span{
    transition: background-color 1s ease;
}
.articles_settings span:hover{
    background-color: cornflowerblue;
}


/*EDITING THE ARTICLE styiling settings*/
.textarea-hidden {
    display: none;
}